:root {
	--canvas-bg-color: rgba(239, 238, 183, 0.402);
	--ui-bg-color: rgba(199, 255, 130, 0.253);

	--ui-btn-bg-color: rgb(0, 0, 0);
	--ui-back-btn-bg-color: rgb(146, 146, 146);

	--main-width: 1000px;
	--main-height: 800px;
}
* { 
	margin:0; padding: 0; 
	font-family: 'Minecraft', sans-serif;
}
body {
	position: relative;

	background-color: black;

	margin: 0 auto;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: 0;
}

.minecraft {
	background-color: gray;

	outline: 3px solid black;

	border-top: 4px solid rgb(175, 175, 175);
	border-left: 4px solid rgb(175, 175, 175);

	border-bottom: 4px solid rgb(62, 62, 62);
	border-right: 4px solid rgb(62, 62, 62);
	
	color: rgb(224, 224, 224);
	text-shadow: 0px 0px black, 0px 2px black, 2px 0px rgb(125, 125, 125), 0px 0px black;
}

#content-wrapper {
	position: relative;
	
	margin: 0 auto;
	
	width: var(--main-width);
}
#ui {
	position: absolute;
	text-align: center;

	z-index: 1;

	/* background-color: var(--ui-bg-color); */

	width: var(--main-width);
	height: var(--main-height);
}
#ui button {
	position: relative;

	width: 150px;
	height: 45px;

	font-size: 20px;
	/* font-weight: bold; */
}

#ui button.minecraft:hover {
	background-color: rgb(86, 86, 86);
	border-top: 4px solid rgb(129, 129, 129);
	border-left: 4px solid rgb(129, 129, 129);

	border-bottom: 4px solid rgb(40, 40, 40);
	border-right: 4px solid rgb(40, 40, 40);
}

#ui button.back {
	color: white;
	
	background-color: var(--ui-back-btn-bg-color);
}
#stage1 > button {
	position: absolute;
	bottom: 0;
	left: calc(var(--main-width) - 50px);
}

#screen {	
	position: absolute;

	left: 100px;
}
#myCanvas {
	background-color: var(--canvas-bg-color);
}